.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(89, 89, 89);
}


.nav-link {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link-logOut{
    display: block;
    float: right;
    color: white;
    background-color: red;
    border: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-link-logOut.active {
    background-color: green;
}

.nav-link.active {
    background-color: green;
}