section{
    height:auto;
    display: flex;
    justify-content: center;
    background-color: blue;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: red;
    justify-content: center;
    align-self: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(89, 89, 89);
}


.nav-link {
    display: block;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link-logOut{
    display: block;
    float: right;
    color: white;
    background-color: red;
    border: none;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-link-logOut.active {
    background-color: green;
}

.nav-link.active {
    background-color: green;
}

input{
    background-color: aliceblue;
    border-radius: 10px;
    padding:4px;
    color:black;
    width: 65%;
    margin: 6px auto;
}

button{
    background-color: aliceblue;
    padding:6px;
    width: 35%;
    margin: 15px auto 0 auto;
    color:black;
    border-radius: 8px;
}

::placeholder{
    color: black;
}

